/* 全体設定 */
body {
    background-color: #F1ECE6;
    margin: 0;
    font-family: "Inika";
    color: #8b7969;
}

/* タイトル */
.login__header h1 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

/* ログインフォームの白枠*/
.login-box {
    background-color: #ffffff;
        width: 736px;
        height: 579px;
        position: absolute;
        top: 264px;
        left: 388px;
        border: 1px solid #E0DFDE;
        border-radius: 10px;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
}

form {
    width: 100%;
    max-width: 450px;
}

.form__group {
    margin-bottom: 30px;
}

.form__label {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
}

.form__input-wrapper input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    background: #F4F4F4;
    box-sizing: border-box;
    font-family: "Inika";
}

.form__button {
    margin-top: 80px;
    text-align: center;
}

.form__button-submit {
    background-color: #8b7969;
    color: #ffffff;
    width: 200px;
    padding: 12px 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-family: "Inika";
}

.form__error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
}